@import "tailwindcss";

:root {
  --background: #FAF6F1;
  --background-layer-1: #F5E6D3;
  --background-layer-2: #F8F4EC;
  --foreground: #171717;
  --dark-green: #636d58;
  --default-green: #9CAF88;
  --border: 2px dotted black;
}

/*@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}*/

/*html * {
  border: var(--border);
}*/

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
  position: relative;
}

.title-header {
  position: absolute;
  top: 5%;
  left: calc(250px + 5%);
  margin-top: 2rem;
  width: fit-content;
}

h1,
h2,
h3 {
  padding: 0;
  margin: 0;
  line-height: 0.8;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  color: var(--dark-green);
  font-size: 5.5rem;
  font-family: var(--font-pacifico);
}

h2 {
  color: var(--default-green);
  font-size: 5rem;
  font-family: var(--font-caveat-brush);
}

h3 {
  font-family: var(--font-caveat-brush);
  font-size: 2rem;
}

@media screen and (max-width: 768px) {
  .title-header {
    position: absolute;
    top: 1rem;
    left: 160px;
    margin-top: 1.4rem;
    width: 40vw;
  }

  h1 {
    font-size: 2.8rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 1rem;
  }
}

body::before,
body::after {
  content: "";
  position: absolute;
  z-index: -1;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
  transform-origin: center center;
  width: 95%;
  height: 95%;
  left: 0;
  right: 0;
}

body::before {
  inset: 10px;
  background: var(--background-layer-1);
  transform: rotate(-1deg);
}

body::after {
  inset: 10px;
  background-color: var(--default-green);
  background-image:
    linear-gradient(90deg,
      rgba(255, 255, 255, .07) 50%,
      transparent 50%),
    linear-gradient(90deg,
      rgba(255, 255, 255, .13) 50%,
      transparent 50%),
    linear-gradient(0deg,
      rgba(255, 255, 255, .07) 50%,
      transparent 50%),
    linear-gradient(0deg,
      rgba(255, 255, 255, .13) 50%,
      transparent 50%);
  background-size: 25px 25px, 50px 50px, 25px 25px, 50px 50px;
  transform: rotate(5deg);
  z-index: -2;
}

/* Desktop styles */
@media screen and (min-width: 769px) {
  body {
    padding: 40px;
  }

  body::before,
  body::after {
    inset: 20px;
    width: 95%;
    height: 95%;
  }

  body::before {
    transform: rotate(-2deg);
  }

  body::after {
    transform: rotate(2deg);
    background-size: 50px 50px, 100px 100px, 50px 50px, 100px 100px;
  }
}

@media screen and (max-width: 768px) {
  .portrait {
    width: 160px;
    height: 160px;
    margin-top: 1rem;
  }

  body::before,
  body::after {
    width: 90%;
    height: 90%;
  }
}

#form-title {
  text-align: center;
  color: var(--default-green);
  font-size: 2rem;
  font-family: var(--font-caveat-brush);
}

#submit-button {
  font-size: 1.5rem;
  font-family: var(--font-caveat-brush);
  width: fit-content;
}

.contact-form-container {
  position: relative;
  width: 100%;
  max-width: 600px;
  margin: 4rem auto;
  padding: 2rem;
}

.contact-form-container form {
  background: rgba(245, 230, 211, 0.2);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  padding: 2rem;
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.status-overlay {
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(8px);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  animation: fadeIn 1s ease-in;
}

.status-message {
  text-align: center;
  font-size: 1.2rem;
  font-family: var(--font-caveat-brush);
}

.form-group {
  margin-bottom: 1.5rem;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 0.75rem;
  background: var(--background);
  border: 2px solid var(--default-green);
  border-radius: 15px;
  font-size: normal;
  color: var(--foreground);
  font-family: var(--font-caveat-brush);
}

.form-group input::placeholder,
.form-group textarea::placeholder {
  font-family: var(--font-caveat-brush);
  font-size: normal;
  color: rgba(0, 0, 0, 0.2);
}


.form-group input:focus,
.form-group textarea:focus {
  outline: none;
  border-color: var(--dark-green);
  box-shadow: 0 0 0 2px rgba(99, 109, 88, 0.2);
}

.form-group textarea {
  resize: vertical;
  min-height: 120px;
}

.contact-form-container button {
  width: 100%;
  padding: 1rem;
  background: var(--default-green);
  color: white;
  border: none;
  border-radius: 15px;
  font-size: 1.1rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.contact-form-container button:hover {
  background: var(--dark-green);
}

@media screen and (max-width: 768px) {
  .contact-form-container {
    padding: 0.25rem;
    margin: 0.5rem auto;
  }

  .contact-form-container form {
    padding: 0.25rem;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}